/* update_date: 2019/04/05 11:03 */

/*グループアイコン*/
roomlist > ul > li > div > div > img {
    height: 16px;
    width: 16px;
}

/*グループアイコンの枠*/
roomlist > ul > li > div > div:first-of-type {
    height: 16px;
    width: 16px;
}

/*グループとグループの幅*/
roomlist > ul > li {
    padding: 0 10px 0 5px;
}

/*未読グループの文字色*/
.ijcItZ {
    color: red;
}

/*選択中のグループ*/
.fhsKMz {
    /*background: #429add;*/
    padding: 0 10px 0 5px;
}

/*ピン留めの位置*/
roomlist > ul > li > div:last-of-type {
    top: 0;
}
